body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    background-color: #00a2fF
  }

  #submit:hover{
    opacity: 0.9;
    transform: scale(1.02);
  }
